<div class="row">
	<div class="col-xs-1">&nbsp;</div>
	<div class="col-xs-5">
		<div class="contact contact_icon">
			<address>
				<h2>Contact Us:</h2><br>
				795 Folsom Ave, Suite 600<br>
				San Francisco, CA 94107<br>
				<abbr title="Phone">P:</abbr> (123) 456-7890
			</address>

			<address>
				<strong>Full Name</strong><br>
				<a href="mailto:#">first.last@example.com</a>
			</address>
		</div>
	</div>

	<div class="col-xs-5">
		<h2>Contact Form</h2>
		<div class="content"> <b>First Name:</b><br>
			<input class="large-field" type="text" placeholder="test" name="name">
			<br>
			<br>
			<b>E-Mail Address:</b><br>
			<input class="large-field" type="text" placeholder="test@test.com" name="email">
			<br>
			<br>
			<b>Enquiry:</b><br>
			<textarea style="width: 98%;" rows="7" cols="40" name="enquiry"></textarea>
			<input type="button" value="Submit" class="btn btn_red">
			<br><br>
		</div>
	</div>
	<div class="col-xs-1">&nbsp;</div>
</div>