
<style media="screen">
.image_div { background-image: url(<%= @gift.avatar %>); }

</style>


<div class="container">
	<div class="row">
		<br><br>
		<div class="col-xs-3">&nbsp;</div>

		<div class="col-xs-4" >


			<div class= "image_div" style=" height: 180px; width: 260px; border: 1px solid black;background-size: cover;background-repeat:no-repeat; border-radius: 15px; color: #1abc9c;">
				<br><br><br>
				<div class="row">
					<div class="col-xs-1" >&nbsp;</div>
					<div class="col-xs-10" >
						0000 &nbsp;&nbsp;1111&nbsp;&nbsp;2222&nbsp;&nbsp;3333
						<br><center>VALID THRU 06/15</center>
					</div>
					<div class="col-xs-1" >&nbsp;</div>
				</div>

				<div class="row">



					<div class="col-xs-12">
						&nbsp;&nbsp;<%= @gift.name%><br>
						&nbsp;&nbsp;<%= @gift.message%>
					</div>
					<div class="col-xs-5">&nbsp;</div>


				</div>
			</div>

	
			<br><br>
		</div>
		<div class="col-xs-5">
			<input type ="button" class="btn btn-primary btn-lg" value="Add to Cart"><br><br>
			<input type ="button" class="btn btn-primary btn-lg" value="Create New Card">
		</div>
	</div>
</div>



<%= cart_form(@gift) %>

